@{
    ViewData["title"] = "Сontent";
}

<nav class="nav-ctrl">
    <a asp-area="" asp-controller="Ctrl" asp-action="UsersGet">users.get</a>
</nav>

<h1>@ViewData["title"]</h1>
<div class="main">
    <a asp-area="" asp-controller="Ctrl" asp-action="UsersGet">users.get</a>
</div>

