@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VkApi Interactive!</h1>
    <p>You can try it out with <a asp-area="" asp-controller="Home" asp-action="GetStarted">tutorial</a></p>
</div>
