@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VkApi Interactive!</h1>
    <h3>You can try it out with <a asp-area="" asp-controller="Home" asp-action="GetStarted">tutorial</a></h3>
    <h3>Or skip to <a asp-area="" asp-controller="Ctrl" asp-action="Index">content</a></h3>
</div>
